@import "~antd/dist/antd.css";

.welcome-message {
  color: aquamarine;
  font-family: cursive;
  font-weight: italic;
}

.welcome-button {
  color: chocolate;
  border: none;
  border-radius: 10px;
  font-family: cursive;
  font-weight: italic;
  cursor: pointer;
}

.main-navbar {
  border-radius: 12px;
}

.homepage-container {
  height: 800px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
}

.intro-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 800px;
  padding: 0px 20px 0px 20px;
  background-color: rgb(224, 219, 219);
  width: 50%;
}

.name-auth {
  color: #f0214f;
  font-family: "Josefin Slab", serif;
}

.text-content {
  display: flex;
  justify-content: start;
  width: 100%;
  font-family: "Josefin Slab", serif;
}

.text-content-name {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 100px;
  font-family: "Josefin Slab", serif;
}

.text-profession {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 50px;
  font-family: "Josefin Slab", serif;
}

.homepage-img {
  height: 800px;
  background-color: rgb(206, 206, 206);
  width: 50%;
}

.user-img {
  height: 100%;
}

.blog-card {
  margin: 10px;
}
